{% extends "base.html" %}

{% block title %}Choose Flight{% endblock %}
{% block title2 %}Choose Flight{% endblock %}

    {%  block content %}

       <div align="center">
            <div class="rectangle-box" style="width:30% !important;">
                <form action="/addflight" method="post">
                    {% csrf_token %}

                <p><label for="id_flight">Airline:</label> <select id="id_flight" name="flight">
                    {% for i,j in flights %}
                <option value={{ i }}>{{ j }}</option>
                    {% endfor %}
                </select></p>



                <input type="submit" value="Submit" onclick="spin()"/>
                </form>
            </div>
       </div>

{% endblock %}