{% extends "base.html" %}
{% block content %}
			<h2><center>FUTURE FRIENDS ON FLIGHT {{ flight.number }} FROM {{ flight.origin }} TO {{ flight.destination }}</center></h2><p>
				
				<div class="row">
					<div class="1u column">
						&nbsp;
					</div>
                    {% for passenger,interests in people_interests %}

					<div class="2u column" align="center">
						<div>{{ passenger.person.user.username }}</div>
                        {%  if passenger.seat_number %}, <strong>{{ passenger.seat_number }}</strong> {% endif %}
						<img src="http://placekitten.com/g/175/175"/>

					<div class="2u column">
						{{ passenger.person.user.username }}{%  if passenger.seat_number %}, <strong>{{ passenger.seat_number }}</strong> {% endif %}
						<a href="\profile\{{ passenger.pk }}"> <img src="http://placekitten.com/g/175/175"/></a>

						<div class="interests">{% for interest in interests %}{{ interest.name }} - {% endfor %}</div>
					</div>
                    {% endfor %}

				</div>

                    <form action="/flight/{{ flight.pk }}/seat" method="post">
                        {% csrf_token %}
                        Choose a seat{{ form.as_p }}
                        <input type="submit" value="Submit"/>
                    </form>
                </div>

{% endblock %}