{% extends "base.html" %}

{% block title %}Find Flight{% endblock %}
{% block title2 %}Find Flight{% endblock %}
{% block content %}
<h2>&nbsp;</h2>		
			<h2><center>FUTURE FRIENDS ON YOUR FLIGHT FROM BOSTON TO PORTLAND</center></h2><p>
				
				<div class="row">
					<div class="1u column">
						&nbsp;
					</div>
					<div class="2u column">
						Bobby Boe, <strong>36F</strong>
						<img src="http://placekitten.com/g/175/175"/>
						<div class="interests">baseball, cats</div>
					</div>
					<div class="2u column">
						Jennay Jane, <strong>15D</strong>

						<img src="http://placekitten.com/g/175/175"/>
						<div class="interests">kittens, boxes of chocolates</div>
					</div>
					<div class="2u column">
						Forrest Gump, <strong>5E</strong>
						<img src="http://placekitten.com/g/175/175"/>
						<div class="interests">shrimp, cats</div>
					</div>
					<div class="2u column">
						Betty Boop, <strong>23A</strong>
						<img src="http://placekitten.com/g/175/175"/>
						<div class="interests">felines, spinach</div>
					</div>
					<div class="2u column" onclick="">
						Chuck Testa, <strong>1A</strong>

						<img src="http://placekitten.com/g/175/175"/>
						<div class="interests">nope, chuck testa</div>
					</div>
					<div class="1u column">
	 					&nbsp;					
					</div>
				</div>


{% endblock %}