{% extends "base.html" %}

{% block title %}Friend Profile{% endblock %}
{% block title2 %}Friend Profile{% endblock %}
{% block content %}
<h2>&nbsp;</h2>		
			<h2><center>FUTURE FRIENDS ON FLIGHT {{ flight.number }} FROM {{ flight.origin }} TO {{ flight.destination }}</center></h2><p>
				
			<header class="container" padding:"0px"></span>
				  <h2><center>{{ USER X }}'s PROFILE</center></h2><p>
				</header>


				</nav>
				<section class="wrapper style3 container" padding:"0px">
					<div class="row">
						<div class="6u" padding:"0px">
							Profile:
							<div class='square-box'>
						    	<div class='square-content' id="user_profile"><div>
						    		<img src="http://placekitten.com/g/225/225">
						    		<span></span></div></div>
							</div>
						</div>
						<div class="6u">
							<strong>INTERESTS</strong>:
							<div class="interests">
						     FOR ALL INTERESTS IN KITTEN DO BLABLASLDJKFNASDFJKL.AF
						   	<div>
                            &nbsp;
                            </div>
                            <div>
                            &nbsp;
                            </div>
                            <div>
                            &nbsp;
                            </div>
						   	<div>
                            &nbsp;
                            </div>
                            <div>
                            &nbsp;
                            </div>
                            <div>
                                <a href="message.html" class="button special">Message</a>
                            </div>

						</div>
					</div>
				</section>
				<script>
					$(document).ready(function () {

					    // Set the .alt class for the alternate rows
					    $('.alt-table tr:nth-child(even)').addClass('alt');
					    $('.alt-table tr:nth-child(odd)').addClass('alt2');
					});
				</script>

{% endblock %}