{% extends "base.html" %}

{% block title2 %}{{ friend }}'s Profile{% endblock %}
{% block content %}
				<section class="wrapper style3 container" padding="0px">
					<div class="row">
						<div class="6u" padding="""0px">
                          <header id="profiletop"><h1>{{ friend }}'s <span>profile</span></h1>
							<div class='square-box'>
						    	<div class='square-content' id="user_profile"><div>
						    		<img src="http://placekitten.com/g/225/225">
						    		<span></span></div></div>
							</div>
						</div>
						<div class="6u">
                <header id="profiletop"><h1>{{ friend }}'s <span>interests</span></h1>
							<div class="interests">
						     {% for interest in interests %} {{ interest }}, {% endfor %}
                            <br><br><br><br><br><br>
                            <div>
                                <a href="/send" class="button special">Message</a>
                            </div>

						</div>
					</div>
				</section>


{% endblock %}