{% extends "base.html" %}

{% block title %}Log in{% endblock %}

{% block content %}
    <section class="wrapper styleME container">
        <center>
        <form action="/login" method="post">
            {% csrf_token %}
        <p><label for="id_username">Username:</label> <input id="id_username" maxlength="30" name="username" type="text" /></p>
        <p><label for="id_password1">Password:</label> <input id="id_password" name="password" type="password" /></p>
        <input type="submit" value="Submit" />
        </form>
        </center>
    </section>
{% endblock %}