{% extends "base_redirect.html" %}
{% block redirectURL %}index.html{% endblock %}
{% block content %}
    <article id="main">

        <header class=" container" padding:"0px"></span>
          <h2><center>sad to see you go :(</center></h2><p><hr>
        </header>

        <!-- One -->				<!-- Three -->
            <section align="center" class="wrapper styleME container">
            Hope you had a great time. See you next time!
            </p>
            </p>
            </p>
            If you don't get redirected in 5 seconds, click <a href="index.html">here</a>
      </section>
        {% endblock %}
