{% extends "base.html" %}

{% block title %}Choose Flight{% endblock %}
{% block title2 %}Choose Flight{% endblock %}

    {%  block content %}

       <div align="center">
            <div class="rectangle-box" style="width:30% !important;">
               <div align="center">
               <form action="/sendMessage" method="post">
                <input id="message" type="text"/>
                <div>&nbsp;</div>
                <input type="submit" value="Submit"/>
                </form>
            </div>
       </div>

{% endblock %}