{% extends "base.html" %}
{% block title %}Your Profile{% endblock %}
{% block title2 %}Your Profile{% endblock %}

{% block content %}

        <div class="row">
            <div class="4u -2u" >
                <header id="profiletop"><h1>your<span>interests</span></h1>
                <div class="rectangle-box">
                <table>
                    {% for interest in interests %}
                    <tr>
                        <td>{{ interest.name }}</td>
                    </tr>
                    {% endfor %}

                </table>
                <div class='square-box'>

                <form action="/interests" method="POST">
                {% csrf_token %}
                    {% if form.non_field_errors %}
                        <ul>
                          {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                          {% endfor %}
                        </ul>
                    {% endif %}
                {% for field in form %}
				    <p>{{ field.label_tag }} {{ field }}</p>
				{% endfor %}

                <input id="id_interest" maxlength="20" name="interest" type="text">
                <input type="submit" value="+ add interest" />
				</form>
                </div>
            </div>
            </div>
            <div class="4u">
                <header id="profiletop"><h1>current<span>flights</span></h1>
                <div class='rectangle-box'>

                    <div class='rectangle-content' id="current_flights">
                     <table class="alt-table">
                            <tr>
                                <td>Hamlet</td>
                                <td>Tragedy</td>
                                <td>1604</td>
                                <td>1604</td>
                            </tr>
                            <tr>
                                <td>Hamlet</td>
                                <td>Tragedy</td>
                                <td>1604</td>
                                <td>1604</td>
                            </tr>
                            <tr>
                                <td>Hamlet</td>
                                <td>Tragedy</td>
                                <td>1604</td>
                                <td>1604</td>
                            </tr>
                            <tr>
                                <td>Hamlet</td>
                                <td>Tragedy</td>
                                <td>1604</td>
                                <td>1604</td>
                            </tr>
                            <tr>
                                <td>Hamlet</td>
                                <td>Tragedy</td>
                                <td>1604</td>
                                <td>1604</td>
                            </tr>
                            <tr>
                                <td>Hamlet</td>
                                <td>Tragedy</td>
                                <td>1604</td>
                                <td>1604</td>
                            </tr>
                            <tr>
                                <td>Hamlet</td>
                                <td>Tragedy</td>
                                <td>1604</td>
                                <td>1604</td>
                            </tr>
                            <tr>
                                <td>Hamlet</td>
                                <td>Tragedy</td>
                                <td>1604</td>
                                <td>1604</td>
                           </tr>
                    </table>
                    <a href="new_flight.html"><button class="add-btn">+</button></a>

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}