{%  extends "base.html" %}
{% block title %}Register{% endblock %}

                {%  block content %}
					<section class="wrapper styleME container">
							<center>
							<form action="/register" method="POST">
                            {% csrf_token %}
                                {% if form.non_field_errors %}
                                    <ul>
                                      {% for error in form.non_field_errors %}
                                        <li>{{ error }}</li>
                                      {% endfor %}
                                    </ul>
                                {% endif %}
                            {% for field in form %}
							    <p>{{ field.label_tag }} {{ field }}</p>
							{% endfor %}
                            <input type="submit" value="Submit" />
							</form>
							</center>
                {% endblock %}