{% extends "base.html" %}

{% block title %}Contact Friends{% endblock %}
{% block title2 %}Contact {{ friend }} FROM {{ flight.origin }} TO {{ flight.destination }}{% endblock %}
{% block content %}
<h2>&nbsp;</h2>
				<div class="row">
					<div class="1u column">
						&nbsp;
					</div>
                    {% for passenger,interests in people_interests %}
					<div class="2u column">
						{{ passenger.person.user.username }}{%  if passenger.seat_number %}, <strong>{{ passenger.seat_number }}</strong> {% endif %}
						<a href="\profile\{{ passenger.pk }}"> <img src="http://placekitten.com/g/175/175"/></a>
						<div class="interests">{% for interest in interests %}{{ interest.name }} - {% endfor %}</div>
					</div>
                    {% endfor %}

					<div class="1u column">
	 					&nbsp;
					</div>
				</div>
                <div>Need to choose a seat?</div>
                <form action="/flight/{{ flight.pk }}/seat" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                <input type="submit" value="Submit" "/>
                </form>


{% endblock %}