{% extends "base.html" %}

{% block title %}Contact Friends{% endblock %}
{% block title2 %}Contact {{ friend }}{% endblock %}
{% block content %}
    <section class="wrapper style3 container" padding="0px">
					<div class="row" padding="0px">
						<div class="12u" padding="0px">
                            <center>
                            Say hello to {{ friend }}! Type your email in the box below. If they confirm that they want to sit with you, you will get a confirmation.
                            <form action="" method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                            <input type="submit" value="send!" "/>
                            </form>
                            </center>
                        </div>
                    </div>
    </section>

{% endblock %}