
{% extends "base_redirect.html" %}

{% block redirectURL %}profile.html{% endblock %}
{% block title %}Success!{% endblock %}

        {%  block content %}
    what the fuck you piece of shit
        <section align="center" class="wrapper styleME container">
            sad to see you go :(
            </p>
            </p>
            </p>
            Hope you had a great time. See you next time!
					</p>
					</p>
					</p>
					If you don't get redirected in 5 seconds, click <a href="index.html">here</a>
        </section>
        {% endblock %}